*{
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
}

  header {
    padding-left: 10px;
    padding-bottom:10px;
    margin-bottom:10px;
    background-color: #29251E;
  }
  header.container3{
    padding: 0px;
  }
  body {
    background-color: #FFFFFF
  }

    header div.header_logo {
      padding-top: 45px;
    }

    /* image is larger than it really needs to be expecially on smaller screens */
    header div.header_logo img {
      width:292px;
      height:50px;
    }
header p {
  padding-left: 60px;
  margin: 0;
  font-size: 1.2em;
  color:#FFFFFF;
}
header p.secondline {
  margin-left: 10px;
  padding-bottom: 20px;
}

header div.header_search {
  text-align:right;
  padding-right: 40px;
  padding-top: 110px;
  color: #FFFFFF;
}
 div.afterbathroom{
  width:292px;
}
nav {
  text-align: center

}
nav a {
  color:#FFFFFF;
  font-size: 1.4em;
  margin-left: 20px;
}
nav a:hover, nav a.active{
  color: #BCBCBC;
  text-decoration: none;
}

.nav{
display: flex;
align-items: center;
justify-content: center;
padding-top: 75px;
color:#FFFFFF;
}
div.container2{
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}
div.text{
  font-family: 'Noto Sans SC', sans-serif;
  color: #6C6865;
  font-size:2.3em;
  padding-top: 40px;
  padding-left: 305px;
  margin-bottom: 50px;
}
div.aboutphoto img{
  width: 185%;
  padding-top: 100px;
  padding-left: 130px;

}
div.text2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.7em;
  padding-left: 600px;
  color: #6C6865;
  text-align: left;
  bottom:430px;
}
div.abouttext{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 600px;
  bottom:425px;
}
div.whatido{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.7em;
  padding-left: 600px;
  color: #6C6865;
  text-align: left;
  bottom: 390px;

}
div.whatidotext{
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 600px;
  bottom:385px;
}
div.secondline1{
  bottom:20px;
}
div.thirdline{
  bottom:20px;
}
div.fourthline{
  bottom: 20px;
}
/* Style inputs with type="text", select elements and textareas */
.container4 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container4 {
    border-radius: 5px;
    border-color:#f2f2f2;
    padding-bottom: 350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.row {
  margin: 15px;
}
