*{
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
}

  header {
    padding-left: 10px;
    padding-bottom:10px;
    margin-bottom:10px;
    background-color: #29251E;
  }
  header.container{
    padding: 0px;
  }
  body {
    background-color: #FFFFFF
  }

    header div.header_logo {
      padding-top: 20px;
    }

    /* image is larger than it really needs to be expecially on smaller screens */
    header div.header_logo img {
      width:292px;
      height:50px;
    }
header p {
  padding-left: 60px;
  margin: 0;
  font-size: 1.2em;
  color:#FFFFFF;
}
header p.secondline {
  margin-left: 10px;
  padding-bottom: 20px;
}

header div.header_search {
  text-align:right;
  padding-right: 30px;
  padding-top: 78px;
  color: #FFFFFF;

}
 div.afterbathroom{
  width:292px;
}
nav {
  text-align: center

}
nav a {
  color:#FFFFFF;
  font-size: 1.4em;
  margin-left: 20px;
}
nav a:hover, nav a.active{
  color: #BCBCBC;
  text-decoration: none;
}

.nav{
display: flex;
align-items: center;
justify-content: center;
padding-top: 40px;
color:#FFFFFF;
}
div.container2{
  width: 40%;
  padding-top: 25px;
  padding-bottom: 25px;
}
div.text{
  font-family: 'Noto Sans SC', sans-serif;
  color: #6C6865;
  font-size:2.0em;
  padding-top: 60px;
  padding-left: 370px;
}
div.aboutphoto img{
  width: 175%;
  padding-top: 100px;
  padding-left: 130px;

}
div.text2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.7em;
  padding-left: 600px;
  color: #6C6865;
  text-align: left;
  bottom:400px;
}
div.abouttext{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 600px;
  bottom:400px;
}
div.whatido{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.7em;
  padding-left: 600px;
  color: #6C6865;
  text-align: left;
  bottom: 370px;

}
div.whatidotext{
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 600px;
  bottom:360px;
}
div p.secondline1{
  bottom:15px;
}
