*{
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
}

  header {
    /* display is a grid, each entity contains is a "block" in the grid */

    /* this is 3 columns */
    padding-left: 10px;
    padding-bottom:10px;
    margin-bottom:10px;
    background-color: #29251E;
  }
  header.container{
    padding: 0px;
  }
  body {
    background-color: #FFFFFF
  }

    header div.header_logo {
      padding-top: 20px;
    }

    /* image is larger than it really needs to be expecially on smaller screens */
    header div.header_logo img {
      width:292px;
      height:50px;
    }
header p {
  padding-left: 35px;
  margin: 0;
  font-size: 1.5em;
  color:#FFFFFF;
}
header p.secondline {
  margin-left: 10px;
}

header div.header_search {
  /* this tells the browser to "span" the grid columns */
  /* grid-column-start: 1; */
  /* notice the grid-column-end is number of columns + 1 */
  /* grid-column-end: 4; */
  text-align:right;
  padding-right: 30px;

}
 div.afterbathroom{
  width:292px;
}
nav {
  text-align: center

}
nav a {
  color:#FFFFFF;
  font-size: 1.2em;
}
nav a:hover, nav a.active{
  color: #BCBCBC;
  text-decoration: none;
}
.nav{
display: flex;
align-items: center;
justify-content: center;
color:#FFFFFF;
}
div.container2{
  width: 50%;
}
