*{
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
}

  header {
    /* display is a grid, each entity contains is a "block" in the grid */
    display:grid;
    /* this is 3 columns */
    padding-left: 10px;
    padding-bottom:10px;
    margin-bottom:10px;

    background-color: #29251E;
  }
  body {
    background-color: #FFFFFF
  }

    header div.header_logo {
      padding-top: 20px;
    }

    /* image is larger than it really needs to be expecially on smaller screens */
    header div.header_logo img {
      width:292px;
      height:50px;
    }
header1 {
  padding-left: 35px;
  padding-bottom: 10px;
  color:#FFFFFF;
}

header div.header_search {
  /* this tells the browser to "span" the grid columns */
  /* grid-column-start: 1; */
  /* notice the grid-column-end is number of columns + 1 */
  /* grid-column-end: 4; */
  text-align:right;
  padding-right: 30px;

}
 div.afterbathroom{
  width:292px;
  height:50px;
}
nav {
  text-align: center
}
